<%-include('../Partials/header.ejs')%>

</head>
<body>
    
    <div class="container modal-window" id="modal-window">
        <p id="closeButton">X</p>
        <form class="login-form">
            <label>Login:</label>
            <input type="text" name="username" id="input-username" required placeholder="...">
            <label>Password:</label>
            <input type="password" name="password" id="input-password" required placeholder="...">
            <input type="submit" name="submit" id="connectButton" value="Connect">
        </form>
    </div>
    <div class="container" id="mainWindow">
        <% if (typeof message == 'object' && message) { %>
            <p id="alert-message"><%=message.text%></p>
            <% } %>
        <a href="/">
            <p id="logo">CHAT<img width="70px" src="/Assets/logo.svg">CORD</p>
        </a>
            <div class="btn" id="login_btn">
               Log in
            </div>
            <div class="btn" id="signup_btn">
               Sign up
            </div>
    </div>


<div class="footer">@2022 Kostya.ktv</div>
<script src="/Views/Home/home.js" defer></script>
    
</body>
</html>