<%-include('../Partials/header.ejs')%>

</head>
<body>
    <div class="container">
        <h1>CHATCORD</h1>
        <h3>Log in</h3>
        <a href = "http://localhost:3000/chatroom"><button type = 'submit'>Let's Go Home</button></a>
    </div>



<script src="/Views/Home/home.js" defer></script>
</body>
</html>