@font-face {
    font-family: Ubuntu;
    src: url('/Assets/Fonts/UbuntuMono-Bold.ttf');
}
@font-face {
    font-family: Dongle;
    src: url('/Assets/Fonts/Dongle-Light.ttf');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: bold;
    font-family: Dongle;
    font-size: 30px;
}
body {

    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(24,99,85,1) 10%, rgb(28, 122, 69) 50%, rgba(24,99,85,1) 84%);
}
.footer {
    position: fixed;
    bottom: 10px;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 0.6em;
    font-weight: 400;
}
#logo {
    font-size: 1.5em;
    color: rgb(209, 207, 207);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
    animation: showin 1s ease-in-out;
}

.container {
    box-sizing: border-box; 
    position: relative;
    text-align: center;
    padding: 2%;
    background: rgba(0, 0, 0, 0.4);
    width: 300px;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    animation: showslide 1s ease-in-out;
}
a {
    text-decoration: none;
}
.btn {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin: 1%;
    animation: showin 2.4s ease-in-out;
    color: rgb(0, 0, 0);
    border-radius: 20px;
    cursor: pointer;
}
#login_btn {
    background-color: rgba(69, 209, 65, 0.6);
}
#login_btn:hover { 
    background-color: rgba(54, 128, 51, 0.6);
    color: rgb(189, 185, 185);
}
#signup_btn {
    background-color: rgba(44, 118, 187, 0.6);
}
#signup_btn:hover {
    background-color: rgba(36, 93, 146, 0.6);
    color: rgb(189, 185, 185);
}

.modal-window {
    padding: 1%;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 300px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 999;
    display: none;   
    opacity: 1;
    animation: showslide 0.5s ease-in-out;
}

.modal-window p {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding-left: 5%;
    padding-right: 5%;
    top: -10%;
    left: 100%;
    color: white;
}
.modal-window p:hover {
    transform: scale(1.1);
    cursor: pointer;
}
.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login-form input {
    text-align: center;
    margin: 1%;
    width: 100%;
    border-radius: 20px;
    border: none;
}
#connectButton {
    margin-top: 3%;
    width: 100px;
    background-color: rgba(53, 156, 50, 0.6);
}
#connectButton:hover {
    cursor: pointer;
    background-color: rgba(96, 255, 91, 0.6);
    color: rgb(71, 70, 70);
}
@keyframes showslide {
    0%{
        opacity: 0;
        top: 30%;
    }
    50% {
        top: 33%;
    }
    100%{
        opacity: 1;
    }
}
@keyframes showin {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

