<%-include('../Partials/header.ejs')%>

<link rel='stylesheet' type='text/css' media='screen' href='/Views/ChatRoom/chatWindow.css'>
    
</head>
<body>
    <div>
        <div>
            <p id="logo-head">CHAT<img width="70px" src="/Assets/logo.svg">CORD</p>
            <div class="container chatWindow">
                <div class="nameBlock">
                    <img src="/Assets/avatar.svg" width="30px" style="margin-right: 10px;">
                    <div><%=login%></div>
                </div>
                <ul class="list-messages">

                </ul>
                <form class="form">
                    <input type="text" class="inputText" name="inputText" placeholder="Type message...">
                    <input type="submit" class="sendButton" value="SEND">
                </form>
            </div>
        
        </div>
        
    </div>
    <script src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous"></script>
    <script src="/Views/ChatRoom/client.js"></script>
    
</body>
</html>

